langchain>=1.2.0
langchain-core>=1.2.0
langchain-community>=0.4.0
langchain-ollama>=1.0.0
langchain-openai>=1.1.0
langchain-text-splitters>=1.1.0
langchain-huggingface>=1.2.0
faiss-cpu==1.13.2
sentence-transformers==2.6.1
streamlit==1.39.0
ollama==0.6.1
python-dotenv==1.0.1
pandas==2.2.0
scikit-learn==1.5.1
ragas==0.1.11
deepeval==0.21.13
pyyaml==6.0.3
sqlalchemy==2.0.46
aiohttp==3.13.3
dataclasses-json==0.6.7
jsonpatch==1.33
requests==2.32.5
tenacity==8.5.0
packaging==23.2
pydantic==2.12.5
langsmith==0.1.117
numpy==1.26.4